---
// components
import Book from "../elements/Book.astro";

// types
import type { Genre } from '../../types/genres';

interface Props {
  genre?: Genre;
}

const { genre } = Astro.props;

import { getCollection } from "astro:content";
const books = await getCollection("books");
const filteredBooks = genre ? books.filter(book => book.data.genre === genre) : books;
---

<section class="grid xl:grid-cols-2 justify-center gap-16 lg:p-20 p-6">
    {
        filteredBooks.map((book) => (
            <Book 
                image={book.data.cover} 
                title={book.data.title} 
                author={book.data.author} 
                year={book.data.year}
                description={book.data.description}
                goodreads={book.data.goodreads}
                rating={book.data.rating}
            />
        ))
    }
</section>
